<html>

<body>
<header class="header">
  <p class="login"><%= link_to 'New User', new_user_registration_path %>
  <%= link_to 'Login', new_user_session_path %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>

  <h1>Art Market</h1>
</header>


<p class= 'describe'>Welcome to your local art market</p>


  <ul class="cb-slideshow">
  	<li>
  		<span>Image 1</span>
  		<div>
  			<h3>Paint</h3>
  		</div>
  	</li>
  	<li>
      <span>Image 2</span>
      <div>
        <h3>Sleep</h3>
      </div>
    </li>
  	<li>
      <span>Image 3</span>
      <div>
        <h3>Eat</h3>
      </div>
    </li>
    <li>
      <span>Image 4</span>
        <div>
          <h3>Talk</h3>
        </div>
    </li>
    <li>
      <span>Image 5</span>
      <div>
        <h3>Sing</h3>
      </div>
    </li>
    <li>
      <span>Image 6</span>
      <div>
        <h3>Dance</h3>
      </div>
    </li>
  </ul>

  <li class= 'gallery_link'><%= link_to 'Gallery', products_path %></li>
  <li class= 'gallery_link'><%= link_to 'Artist', artist_index_path%></li>
</ul>

</body>
</html>
