<html>

<body>
<header class="header">
  <p class="login"><%= link_to 'New User', new_user_registration_path %>
  <%= link_to 'Login', new_user_session_path %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>

  <h1>Art Market</h1>

  <ul class="Links">
    <li class= 'gallery_link'><%= link_to 'Gallery', products_path %></li>
    <li class= 'gallery_link'><%= link_to 'Artist', artist_index_path%></li>
  </ul>
</header>


<p class= 'describe'>Welcome to your local art market</p>


  <ul class="cb-slideshow">
  	<li><span>Image 1</span><div><h3>@RTMARKET</h3></div></li>
  	<li><span>Image 2</span><div><h3>CREATE</h3></div></li>
  	<li><span>Image 3</span><div><h3>DISPLAY</h3></div></li>
    <li><span>Image 4</span><div><h3>COMMISION</h3></div></li>
    <li><span>Image 5</span><div><h3>ADVANCE</h3></div></li>
    <li><span>Image 6</span><div><h3>CONTRIBUTE</h3></div></li>
  </ul>



</body>
</html>
