<h1>Artist#show</h1>
<p>Find me in app/views/artist/show.html.erb</p>

<p>
  <strong>Name:</strong>
  <%= @user.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @user.location %>
</p>


<% if current_user.try(:id) == @user.id %>
<%= link_to 'Edit', edit_user_registration_path(@user) %> |
<% end %>
<%= link_to 'Back', artist_path %>
